<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php">
    <php>
        <var name="_HTML_Template_Sigma_IT_class" value="Sigma" />
    </php>
    <testsuites>
        <testsuite name="All">
            <file>./tests/AllTests.php</file>
        </testsuite>
        <testsuite name="API">
            <file>./tests/Sigma_api_testcase.php</file>
        </testsuite>
        <testsuite name="Bug">
            <file>./tests/Sigma_bug_testcase.php</file>
        </testsuite>
        <testsuite name="Cache">
            <file>./tests/Sigma_cache_testcase.php</file>
        </testsuite>
        <testsuite name="Usage">
            <file>./tests/Sigma_usage_testcase.php</file>
        </testsuite>
    </testsuites>
</phpunit>